/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  background-image: var(--background);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.side-padding {
  padding-inline: 10px;
  /* padding-inline: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem); */
}

/* @media (width > 767) {
  .side-padding {
    padding-inline: 20px;
  }
} */

.title-decor {
  background-color: var(--accent-color);
}

.header {
  background-image: var(--background);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  block-size: 100vh;
  inline-size: 100vw;
  padding-block: 10px;

 /* padding-block: clamp(1.25rem, 0.0573rem + 5.0891vw, 2.5rem); */
}

/* @media (width > 767) {
  .side-padding {
    padding-block: 40px;
  }
} */



.decorated-zone {
  position: relative;
}
.decorated-zone::before {
  position: absolute;
  content: "";
  block-size: 25px;
  inline-size: 25px;
  border-inline-end: 1px solid var(--corner-color);
  border-block-start: 1px solid var(--corner-color);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: 1px solid var(--corner-color);
  border-block-end: 1px solid var(--corner-color);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header__decoration {
  position: absolute;
  inset-inline-end: 19px;
  inset-block-start: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__decoration::before {
  content: "REC";
  color: var(--accent-color);
  font-size: var(--main-font-size);
  line-height: var(--main-font-lineheight);
  font-family: "IBM Plex mono", sans-serif;
}

.header__decoration::after {
  content: "";
  box-shadow: 0px 0px 4px 2px var(--shadow-color);
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.title {
  font-family: "IBM Plex mono", sans-serif;
  font-weight: bold;
  color: var(--no-focus-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--no-focus-lineheight);
}

.title_header {
  justify-self: start;
}

.header__paragraph {
  font-family: "IBM Plex mono", sans-serif;
  font-weight: bold;
  color: var(--header-font-color);
  font-size: var(--main-font-size);
  line-height: var(--main-font-lineheight);
  justify-items: end;
  inline-size: max(355px, calc(100%/2));
  justify-self: end;
  margin-block-end: 10px;

}

.header__theme-menu {
  justify-self: end;
  padding-block-start: 10px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.header__theme-menu-button {
  cursor: pointer;
  text-transform: lowercase;
  min-inline-size: 70px;
  min-block-size: 26px;
  background-color: transparent;
  font-family: "IBM Plex mono", sans-serif;
  font-weight: normal;
  font-size: var(--main-font-size);
  line-height: 18px;
  color: var(--accent-color);
  border: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-opacity);
}

.header__theme-menu-button:focus {
  outline-style: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

.main {
  padding-block: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.article {
  font-family: "IBM Plex mono", sans-serif;
  font-size: var(--main-font-size);
  line-height: var(--main-font-lineheight);
  gap: 20px;
}

.description {
  display: grid;
}

@media (width >= 768px) {
  .description {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "description_header description_text description_text"
    "description_header description_text description_text";
  }

  .description .article__header {
    grid-area: description_header;
  }

  .description .cards {
    grid-area:description_text;
  }
}


.questions {
  display: grid;
}

@media (768px < width < 1024px) {
  .questions {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
    grid-template-areas:
    "questions_header . ."
    "questions_text questions_text questions_text";
  }

  .questions .article__header {
    grid-area: questions_header;
  }

  .questions .cards {
    grid-area:questions_text;
  }
}

@media (width >= 1024px) {
  .questions {
    grid-template-rows: min-content 1fr;

  }

  .questions .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}


.solutions {
  display: grid;
}

@media (width >= 768px) {
  .solutions {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
    grid-template-areas:
    "solutions_header solutions_subheader solutions_subheader"
    "solutions_header solutions_text solutions_text";
  }

  .solutions .article__header {
    grid-area: solutions_header;
  }

  .solutions .article__subheader {
    grid-area: solutions_subheader;
  }
  .solutions .cards {
    grid-area:solutions_text;
  }
}

.media-grid {
  display: grid;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline-style: none;
}
.link:focus-visible {
  outline: 1px solid var(--main-font-color);
}

.article__header {
  font-weight: bold;
  color: var(--accent-color);
  font-size: inherit;
}

.article__subheader {
  font-weight: bold;
  color: var(--header-font-color);
  font-size: inherit;
}

.article__block-header {
  font-weight: normal;
  color: var(--header-font-color);
}

.article__text {
  font-weight: normal;
  color: var(--main-font-color);
}

.galery {
  display: grid;
  /* grid-template-rows: repeat(auto-fill, minmax(355, 1fr)); */
  gap: 10px;
}

.image {
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 668px;
}
