/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --header-font-color: #000028;
  --main-font-color: #F1B2CE;
  --no-focus-color: #DB00FF;
  --no-focus-size: 116px;
  --no-focus-lineheight: 95.7px;
  --main-font-size: 18px;
  --main-font-lineheight: 23.4px;


}
