/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --corner-color: #ff0070;
  --shadow-color: #ff0070;
  --accent-color: #ff0070;
  --accent-color-opacity: rgba(255, 0, 112, 0.6);
  --header-font-color: #000028;
  --main-font-color: #f1b2ce;
  --no-focus-color: #db00ff;
  --main-font-size: 18px;
  --main-font-lineheight: 23.4px;
  --background: url(/images/cover-image-dark.png);
}
